<container>
  <div class="row-fluid">
    <div class="span12 text-center">
      <h3><%= label_tag :email, "Client Login:" %></h3>
    </div>
  </div>
  <%= form_tag sessions_url, method: "post" do %>
    <fieldset>
      <div class="row-fluid">
        <div class="span12 center">
          <%= text_field_tag :email, params[:email], placeholder: "Email" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center">
          <%= password_field_tag :password, nil, placeholder: "Password" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center remember">
          <%= check_box_tag :favorite, name: "Remember Me" %>
          <%= label_tag :favorite, "Remember Me" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center">
          <%= button_tag 'Login <i class="icon-signin"></i>'.html_safe, class: "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</container>
