<div class="span10 offset1">
  <h2> Welcome back, <%= @user.email %>! </h2>

  <%= form_for @user, url: password_reset_url(params[:id]), :html => { :class => "form-inline" } do |f| %>
    <%= f.password_field :password, placeholder: "New password" %>
    <%= f.password_field :password_confirmation, placeholder: "New password confirmation" %>
    <%= f.button "Update Password", class: "btn btn-success" %>
  <% end %>
</div>
