<container>
  <div class= "row-fluid">
    <div class="span12 text-center">
      <h1> <%= link_to "LoginPal", users_url %> </h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12 text-center">
      <h3><%= label_tag :email, "Account Details:" %></h3>
    </div>
  </div>
  <%= form_tag user_url(current_user.id), method: "patch" do %>
    <fieldset>
      <div class="row-fluid">
        <div class="span12 center">
          <%= text_field_tag :email, current_user.email, placeholder: "Email" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center">
          <%= password_field_tag :password, nil, placeholder: "New password" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center">
          <%= password_field_tag :password_confirmation, nil, placeholder: "New password confirmation" %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center">
          <%= submit_tag "Save Changes", class: "btn btn-primary" %>
        </div>
      </div>
    </fieldset>
  <% end %>
</container>
