<div class="row-fluid">
  <div class="span10 offset1">
    <table class ="table table-hover">
      <tr>
        <td><h4>Email:</h4></td>
        <td><h4><%= current_user.email %></h4></td>
      </tr>
      <tr>
        <td><h4># of hints: </h4></td>
        <td><h4><%= @sites.count %></h4></td>
      </tr>
    </table>
  </div>
</div>

<div class="row-fluid">
  <div class="span10 offset1 text-center">
    <%= link_to "Edit Account", edit_user_url(current_user.id), class: " btn btn-success" %>
  </div>
</div>
<p>
<div class="row-fluid">
  <div class="span10 offset1 text-center">
    <%= form_tag user_url(current_user.id), method: 'delete' do %>
    <%= button_tag "Delete Account", class: " btn btn-danger", data: {confirm: "Do you really want to delete your account?"} %>
    <% end %>
  </div>
</div>
</p>
