<%= form_for site, remote: true, id:"form_new", class: "form-inline" do |f| %>
  <table class="table table-hover table-condensed" id="new_site_table">
    <tbody>
      <tr id="add">
        <td id="td_company"><%= f.text_field :company, placeholder: "Example: Facebook", id: "company_new", class: "input-large" %></td>
        <td id="td_username"><%= f.text_field :username_sb, placeholder: "Username", id: "username_new" %></td>
        <td id="td_pwhint"><%= f.text_field :pwhint_sb, placeholder: "Password hint", id: "pwhint_new", "data-toggle"=>"tooltip", "data-placement"=>"bottom", title: "Add a hint that will help you remember your password" %></td>
        <td id="td_edit"><%= f.button '<i class="icon-plus"></i>'.html_safe, class: "btn btn-success", id:"new" %></td>
        <td id="td_delete"> </td>
      </tr>
    </tbody>
  </table>
<% end %>

<script>
  $('#pwhint_new').tooltip()
</script>
