<table class="table table-hover table-condensed" id="site_table_<%= site.id %>">
  <tr class = "rowhover" id="site_<%= site.id %>">
    <td id="td_company_site" class="cell cell-vert-align"><strong>
        <%= link_to (image_tag site.favicon), "http://www.#{site.site.gsub("http://www.","")}", target: "_blank" %>
        <%= link_to " #{site[:company]}", "http://www.#{site.site.gsub("http://www.","")}", target: "_blank" %></strong>
    </td>
    <td id="td_username_site" class="cell cell-vert-align"><%= site.username_sb.decrypt ENV['SB_DECRYPT'] %></td>
    <td id="td_pwhint_site" class="cell cell-vert-align"><%= site.pwhint_sb.decrypt ENV['SB_DECRYPT'] %></td>
    <td id="td_edit"><%= link_to '<i class="icon-edit"></i>'.html_safe, edit_site_url(site.id), class: "btn btn-warning button-hover btn-small", remote: true %></td>
    <%= form_tag site_url(site.id), remote: true, method: "delete" do %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :site_id, site.id %>
    <td id="td_delete"><%= button_tag '<i class="icon-remove"></i>'.html_safe, class: "btn btn-danger button-hover btn-small", id: 'new' %></td>
    <% end %>
  </tr>
<table>
