<div class= "row-fluid">
  <div class= "span4 offset1">
    <table>
      <% @sites.each do |site| %>
      <tr>
        <td><%= site.company %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class= "span4 offset1">
    <%= @users.count %>
    <table>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%A, %B %d, %Y") %></td>
        <td><%= user.sites.count %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


