<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Company</th>
          <th>Username</th>
          <th>Password hint</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= form_for :site, :url => {action: 'update_all_sites'}, method: 'patch' do %>
          <% @sites.each do |site| %>
            <%= fields_for "site[]", site do |site_fields| %>
            <tr>
              <td><%= site_fields.text_field :company %></td>
              <td><%= site_fields.text_field :username %></td>
              <td><%= site_fields.text_field :pwhint %></td>

            </tr>
            <% end %>
          <% end %>
          <div data-spy="affix" data-offset-top="0" id= "save">
            <%= button_tag 'Save all changes', class: "btn btn-success btn-large" %>
          </div>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
