<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Company</th>
          <th>Username</th>
          <th>Password hint</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- #TODO - associate loginpal password with each user -->
      <%= form_tag update_all_url, method: "patch" do %>
        <% @sites_sort.each do |site| %>
          <% pwhint_de = site.pwhint_sb.decrypt 'Login99pal!' %>
          <% username_de = site.username_sb.decrypt 'Login99pal!' %>
          <tr>    <%= hidden_field_tag "sites[#{site.id}][id]", site.id %>
              <td><%= link_to (image_tag site.favicon), "http://www.#{site[:company].delete(" ")}.com", target: "_blank" %></td>
              <td><%= text_field_tag "sites[#{site.id}][company]", site.company %></td>
              <td><%= text_field_tag "sites[#{site.id}][username_sb]", username_de %></td>
              <td><%= text_field_tag "sites[#{site.id}][pwhint_sb]", pwhint_de %></td>
          </tr>
        <% end %>
        <div data-spy="affix" data-offset-top="0" id= "save">
          <%= button_tag "Save all changes", class: "btn btn-success btn-large" %>
        </div>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
