<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Company</th>
          <th>Username</th>
          <th>Password hint</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr id="add">
            <%= form_tag "http://localhost:3000/sites", method: "post" do %>
              <td><%= text_field_tag :company, nil, placeholder: "Company" %></td>
              <td><%= text_field_tag :username, nil, placeholder: "Username" %></td>
              <td><%= text_field_tag :pwhint, nil, placeholder: "Password hint" %></td>
              <td><%= submit_tag "Add", class: "btn btn-success" %></td>
              <td> </td>
            <% end %>
          </tr>
        <% @s.each do |site| %>
          <tr>
            <td class="rowhover"><strong><%= link_to (image_tag "https://plus.google.com/_/favicon?domain=www.#{site[:company].delete(" ")}.com"), "http://www.#{site[:company].delete(" ")}.com" %><%= " #{site[:company]}" %></strong></td>
            <td class="rowhover"><%= site[:username] %></td>
            <td class="rowhover"><%= site[:pwhint] %></td>
            <td class="rowhover"><%= link_to "Edit", edit_site_url(site.id), method: "get", class: "btn btn-warning" %>
            <td class="rowhover"><%= link_to "Delete", site_url(site.id), method: "delete", class: "btn btn-danger" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

