<%#= current_user.sites.each{|site| site.pwhint_sb.decrypt 'Login99pal!'} %>

<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Company</th>
          <th>Username</th>
          <th>Password hint</th>
          <th>Hint_encrypted </th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr id="add">
            <%= form_tag sites_url, method: "post", class: "form-inline" do %>
              <td><%= text_field_tag :company, nil, placeholder: "Example: Facebook", "data-provide" => "typeahead", "data-source" => ["Mike", "Anthony"], autocomplete: "off" %></td>
              <td><%= text_field_tag :username, nil, placeholder: "Username" %></td>
              <td><%= text_field_tag :pwhint, nil, placeholder: "Password hint", "data-toggle" => "tooltip", title: "Please do not insert actual passwords, only hints" %></td>
                  <%= hidden_field_tag :user_id, current_user.id %>
              <td></td>
              <td><%= button_tag '<i class="icon-plus"></i>'.html_safe, class: "btn btn-success", id: 'new' %></td>
              <td></td>
            <% end %>
          </tr>
        <% @sites_sort.each do |site| %>
          <tr class = "rowhover">
            <td><strong>
                <%= link_to (image_tag "https://plus.google.com/_/favicon?domain=www.#{site[:company].delete(" ")}.com"), "http://www.#{site[:company].delete(" ")}.com" %>
                <%= link_to " #{site[:company]}", "http://www.#{site[:company].delete(" ")}.com" %>
            </strong></td>
            <td><%= site[:username] %></td>
            <td><%= site[:pwhint] %></td>
            <td><%= site.pwhint_sb.decrypt 'Login99pal!' %></td>
            <td><%= link_to '<i class="icon-edit"></i>'.html_safe, edit_site_url(site.id), method: "get", class: "btn btn-warning button-hover" %></td>
            <%= form_tag site_url(site.id), method: "delete" do %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :site_id, site.id %>
              <td><%= button_tag '<i class="icon-remove"></i>'.html_safe, class: "btn btn-danger button-hover", id: 'new' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>



<script type="text/javascript">
  $('first tooltip').tooltip(data-trigger="hover")
</script>
