<div class= "row-fluid">
  <div class= "span10 offset1">
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <td id="td_company">Website</th>
          <td id="td_username">Username</th>
          <td id="td_pwhint">Password hint</th>
          <td id="td_edit"> </th>
          <td id="td_delete"> </th>
        </tr>
      </thead>
    </table>
    <%= render 'form_new', :site => Site.new %>
    <div class="row-fluid">
      <% @sites.each do |site| %>
        <div class="span2">
          <div class="panel panel-default" id="site_<%= site.id %>">
          <%= link_to image_tag(site.favicon) + " " + site.company, "http://www.#{site.site}", class:"btn", target:"_blank" %>
          <%= link_to '<i class="fa fa-plus"></i>'.html_safe, "#", class:"btn", remote:"true" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="btn-group">
      <% @sites.each do |site| %>
      <%= link_to image_tag(site.favicon), "http://www.#{site.site}", class:"btn", target:"_blank" %>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-plus"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Username: #{site.username_sb.decrypt ENV['SB_DECRYPT']}", "http://www.#{site.site}" %>
        </li>
        <li>
          <%= link_to "Hint: #{site.pwhint_sb.decrypt ENV['SB_DECRYPT']}", "http://www.#{site.site}" %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</div>
