<!DOCTYPE html>
<html>
<head>
  <title>Password</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <% if current_user.present? %>
      <%= link_to '<i class="icon-key"></i> LoginPal'.html_safe, sites_url, class: "brand" %>
      <% else %>
      <%= link_to '<i class="icon-key"></i> LoginPal'.html_safe, new_session_url, class: "brand" %>
      <% end %>
    <ul class="nav">

 <% if current_user.present? %>
      <li><%= link_to '<i class="icon-unlock"></i> My Hints'.html_safe, sites_url %></li>
      <li><%= link_to '<i class="icon-edit"></i> Manager'.html_safe, edit_site_url(current_user.id) %></li>
      <li><%= link_to '<i class="icon-cog"></i> Account'.html_safe, user_url(current_user.id) %></li>
      <li><%= link_to '<i class="icon-signout"></i> Sign Out'.html_safe, session_url, method: 'delete' %></li>
<% else %>
      <li><%= link_to '<i class="icon-plus"> </i><i class="icon-group"></i> Sign Up'.html_safe, new_user_url %></li>
      <li><%= link_to '<i class="icon-signin"></i> Sign In'.html_safe, new_session_url %></li>
      <% end %>
    </ul>
  </div>
  </div>
<div class="span10 offset1">
 <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
        <a class="close" data-dismiss="alert">&times;</a>
        <%= msg %>
      </div>
    <% end %>
</div>

<%= yield %>

</body>
</html>
