<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="N075i4lNYBxpg0pCJp7Yd69POXhaSAfMoJhaTeEROoc" />
  <title>LoginPal</title>
  <meta name="keywords" content="Password, hint, manager, login, account, passwords, hints, managers, logins, accounts">
  <meta name="description" content="Login to your websites easier with password hints at login screens">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43597506-1', 'loginpal.com');
  ga('send', 'pageview');
</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body id = "homepagebody">
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="span12">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to '<i class="icon-key"></i> LoginPal'.html_safe, sites_url, method: "get", class: "brand" %>
      <div class="nav-collapse navbar-responsive-collapse collapse">
        <div class="span8">
          <div class="nav pull-right">
            <% if current_user.present? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<i class="icon-cog"></i> Account'.html_safe, user_url(current_user.id), method: "get" %></li>
                  <li><%= link_to '<i class="icon-signout"></i> Sign Out'.html_safe, session_url, method: 'delete' %></li>
                </ul>
              </li>
            <% else %>
              <li><%= form_tag sessions_url, class: "navbar-form form-inline" do %>
                    <%= email_field_tag :email, params[:email], placeholder: "Email", class: "input-medium" %>
                    <%= password_field_tag :password, nil, placeholder: "Password", class: "input-medium" %>
                    <%= button_tag "Login", class: "btn btn-success" %>
                <% end %>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">&times;</a>
    <%= msg %>
  </div>
<% end %>

  <%= yield %>

<div class="black">
  <a href="https://plus.google.com/108246643305451311797" rel="publisher" target="_blank"><i class="icon-google-plus"></i></a>
</div>

</body>
</html>
